<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="pca9685_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>pca9685_hardware_interface/Pca9685SystemHardware</plugin>
      </hardware>
      <joint name="joint_0">
        <command_interface name="velocity"/>
      </joint>
      <joint name="joint_1">
        <command_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
