<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find pca9685_hardware_interface)/urdf/pca9685_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find pca9685_hardware_interface)/urdf/pca9685.materials.xacro" />

  <!-- Import pca9685 ros2_control description -->
  <xacro:include filename="$(find pca9685_hardware_interface)/ros2_control/pca9685.ros2_control.xacro" />

  <xacro:pca9685 prefix="$(arg prefix)" />

  <xacro:pca9685_ros2_control
    name="Pca9685" prefix="$(arg prefix)" />

</robot>
